//import
@import "../utilidades/variables";
@import "../utilidades/mixin";
@import "../utilidades/extend";

/* estilos proyectos */
.imagenes{
    height: 100vh;
    margin: 1rem 1rem 4rem 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 25%);
    row-gap: 1rem;

    @include tablet{
        height: 1200px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 25%);
    }

    @include desktop{
        height: 1600px;
        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 25%);
    }
}

.imagenes div div{
    display: none;

    @include desktop{
        display: block;
        margin: 0 2rem 0 2rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 90%;
    }
}

.imagenes div .titulo-alt{
    display: none;
    
    @include tablet{
        display: block;
        text-transform: initial;
        @include titulos;
    }

    @include desktop{
        display: none;
    }
}
    
.imagenes div img{
    width: 100%;
    height: 100%;
    /* esta propiedad hace que las imagenes tomen el 100% de su contenedor (responsive) */
    object-fit: cover;
    @extend %sombra-img;

    @include tablet{
        height: 220px;
    }
}
    
.imagenes div{
    @include desktop{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }  
}

.imagenes div img{
    @include desktop{
        height: 350px;
        top: 5px;
        right: 10px;
    }
}

.imagenes div div .texto1, .texto2, .texto3, .texto4{        
    @include desktop{
        text-transform: initial;
        @include titulos;
    }
}

.imagenes div div .pp1, .pp2, .pp3, .pp4{
    @include desktop{
        @include parrafos-gen(16px);
    }
}
    