// paleta de colores generales
$color-principal: rgb(185, 35, 24);
$color-secundario: rgba(255, 255, 255, 0.753);
$color-terciario: rgb(44, 43, 43);
$color-sombra: black;
$color-botones: rgba(168, 81, 81, 0.781);